# Created by https://www.gitignore.io/api/java,gradle,windows,java-web
# Edit at https://www.gitignore.io/?templates=java,gradle,windows,java-web

### Java ###


# Log file
*.log

# BlueJ files
*.ctxt
*.idea
# Mobile Tools for Java (J2ME)
.mtj.tmp/


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

### Java-Web ###


### Windows ###
# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

### Gradle ###
.gradle
/build/



# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
!gradle-wrapper.properties
