<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
    <th:block th:fragment="car-nextup-fragment(item, tripId)" th:remove="tag">
        <details class="trip-item-details">
            <summary class="details-small">
                <div class="nextUp-trip-item-icon">
                    <div class="small-icon-date" th:text="${item.getSmallIconDate()}"></div>
                    <!--<div class="date" th:text="${#temporals.dayOfWeekNameShort(item.startDate) + ', ' +
                    #temporals.monthNameShort(item.startDate) + ' ' + #temporals.day(item.startDate)}?:''"></div>-->
                    <!--<span th:style="'display:inline'" class="flight-trip-item-icon-sm"></span>-->
                    <span th:style="'display:inline'"></span>

                </div>
                <div class="nextUp-trip-item-header">
                    <div class="primary-info">
                        <div class="item-header-detail">
                            <a th:href="@{__${T(dev.phasterinc.tripdat.util.Mappings).TRIP_DETAILS}__(tripId=${tripId})}" th:class="|item-header-detail|" href="" th:text="${item.getMainTitle()}">
                            </a>
                        </div>
                        <div class="item-header-detail" th:text="${item.getSubTitle()}?:''" >
                        </div>
                    </div>
                </div>
            </summary>
            <div class="more-details">
                <div class="info">
                    <div class="legend" th:text="|PICK-UP ADDRESS|">PICK-UP ADDRESS</div>
                    <div class="item-expanded-detail" th:text="${item.getTripItem().getPickUpAddress()}?:''">
                    </div>
                </div>
                <div class="info">
                    <div class="legend" th:text="|PHONE|">PHONE</div>
                    <div class="item-expanded-detail" th:text="${item.getTripItem().getPickUpPhoneNumber()}">
                    </div>
                </div>
                <div class="info">
                    <div class="legend" th:text="|LINK|">LINK</div>
                    <div class="item-expanded-detail"  th:text="${item.getSupplier().getUrl()}">
                    </div>
                </div>
                <div class="info">
                    <div class="legend" th:text="|CONFIRMATION#|">CONFIRMATION#</div>
                    <div class="item-expanded-detail" th:text="${item.getConfirmationNumber()}">
                    </div>
                </div>
                <div th:class="info">
                    <div class="legend" th:text="|PICK-UP|">PICK-UP</div>
                    <div class="item-expanded-detail" th:text="${item.getTripItem().getPickUpTime()}">
                    </div>
                </div>
                <div th:class="info">
                    <div class="legend" th:text="|CAR TYPE|">CAR TYPE</div>
                    <div class="item-expanded-detail" th:text="${item.getTripItem().getCarRentalType()}">
                    </div>
                </div>
            </div>
        </details>
    </th:block>

</body>
</html>
