<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--
    Flight Fragment for Trip Details view.
 -->
<body>
<th:block th:fragment="flight-fragment(itemId, tripId)">
    <div th:id="'trip-item-' + ${item.id}">
        <div th:class="|trip-item-object|">
            <div th:class="|trip-item-row|">
                <div th:class="|trip-item-icon|">
                    <span class="flight-trip-item-icon-m"></span>
                </div>
                <!-- Summary of Flight -->
                <div th:class="|trip-item-object-pane|">
                    <div th:class="|trip-item-header|">
                        <div th:class="item-bar">
                            <div th:class="date"
                                 th:text="${#temporals.format(item.tripItem.departureDate, 'MM/dd/yyyy')}"></div>
                        </div>
                        <div th:class="main-info">
                            <span th:text="${item.tripItem.departureAirport + ' to ' + item.tripItem.arrivalAirport}"></span>
                            <span th:class="|more-info|"
                                  th:utext="${ '<br/>' + item.tripItem.airlineName + ' ' + item.tripItem.flightNumber}"></span>
                        </div>
                        <div th:class="other-info">
                            Confirmation #:
                            <strong th:text="${item.confirmationNumber}">confirmation number</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div th:id="${item.id}">
                <div th:class="|trip-item-row|">
                    <div th:class="|trip-item-time-cell|">
                            <span th:class="|trip-item-time|">
                                <span th:class="|time-display|"
                                      th:text="${#temporals.format(item.startTime, 'h:mm a')}">
                                    <span th:class="|crosshairs|"></span>
                                </span>
                                <span th:class="time-display-details">
                                    <span th:class="|am-pm|"></span>
                                    <span th:class="|time-zone|"></span>
                                </span>
                            </span>
                    </div>
                    <!-- Departure Details -->
                    <div th:class="|trip-item-object-pane|">
                        <div th:class="|checkpoint|">
                            <h3 th:class="|checkpoint-type|" th:text="|Depart|">Depart</h3>
                            <h2 th:class="|airport-name|" th:text="${item.tripItem.departureAirport}"></h2>
                            <div th:class="gate-location">
                                    <span th:if="${item.isArrival}" th:class="|terminal-section start-flex|">
                                        Date:
                                        <span th:class="terminal" th:text="${item.tripItem.departureDate}"></span>
                                    </span>
                                <span th:class="terminal-section">
                                        Terminal:
                                        <span th:class="terminal" th:text="${item.tripItem.departureTerminal}"></span>
                                    </span>
                                <span th:class="gate-section">
                                        Gate:
                                        <span th:class="gate" th:text="${item.tripItem.departureGate}"></span>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:class="|trip-item-row|">
                    <div th:class="trip-item-time-cell">
                                <span th:class="|trip-item-time|">
                                    <span th:class="|time-display|"
                                          th:text="${#temporals.format(item.endTime, 'h:mm a')}">
                                        <span th:class="|crosshairs|"></span>
                                    </span>
                                    <!--<span th:class="time-display-details">
                                        <span th:class="|am-pm|"></span>
                                        <span th:class="|time-zone|"></span>
                                    </span>-->
                                    <span th:if="${item.endDate != item.startDate}" th:class="end-date-details">
                                        <span th:text="${#temporals.format(item.endDate, 'MM/dd/yyyy')}"></span>
                                    </span>
                                </span>
                    </div>
                    <!-- Arrival Details -->
                    <div th:class="|trip-item-object-pane|">
                        <div th:class="|checkpoint|">
                            <h3 th:class="|checkpoint-type|" th:text="|Arrival|">Arrival</h3>
                            <h2 th:class="airport-name" th:text="${item.tripItem.arrivalAirport}"></h2>

                            <div th:class="gate-location">
                                    <span th:if="${!item.isArrival}" th:class="|terminal-section start-flex|">
                                        Date:
                                        <span th:class="terminal" th:text="${item.tripItem.arrivalDate}"></span>
                                    </span>
                                <span th:class="terminal-section">
                                        Terminal:
                                        <span th:class="terminal" th:text="${item.tripItem.arrivalTerminal}"></span>
                                    </span>
                                <span th:class="gate-section">
                                        Gate:
                                        <span th:class="gate" th:text="${item.tripItem.arrivalGate}"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Actions to perform on a Flight Item -->
                <div th:class="|trip-item-row|">
                    <div th:class="|object-actions|">
                        <ul>
                            <li>
                                <a th:text="|Edit|" th:h th:class="|edit-trip-item|"
                                   th:href="@{__${T(dev.phasterinc.tripdat.util.Mappings).EDIT_FLIGHT}__(tripItemId=${item.id}, tripId=${tripId})}">
                                    Edit
                                    <span th:class="|icon edit-icon|"></span>
                                </a>
                            </li>
                            <li>
                                <a th:text="|Copy|" th:class="|copy-trip-item|" th:href="@{/edit/id/}">
                                    Copy
                                    <span th:class="|icon copy-icon|"></span>
                                </a>
                            </li>
                            <li>
                                <a th:text="|Move|" th:class="|move-trip-item|" th:href="@{/updateMove/id/}">
                                    Move
                                    <span th:class="|icon move-icon|"></span>
                                </a>
                            </li>
                            <li>
                                <a th:text="|Delete|" th:class="|delete-trip-item|"
                                   th:href="@{__${T(dev.phasterinc.tripdat.util.Mappings).DELETE_FLIGHT}__(itemId=${item.id}, tripId=${tripId})}">
                                    Delete
                                    <span th:class="|icon delete-icon|"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div th:class="|trip-item-object-pane|">
                        <!--MAIN CONTENT-->
                        <div th:class="trip-item-content">
                            <div th:class="|duration-checkpoint|">
                                <div th:class="duration-section">
                                    Duration:
                                    <span th:class="duration" th:text="${item.getDurationOfSegment()?:'-'}">
                                        </span>
                                </div>
                                <div th:class="|seats-section|">
                                    Seat(s):
                                    <span th:class="|seats|" th:text="${item.tripItem.seat?:'-'}"></span>
                                </div>
                            </div>
                            <!-- Traveler Information -->
                            <th:block
                                    th:replace="~{fragments/other-item-details::traveler-info-fragment(travelers=${item.attendees},description=${'Flyer'})}">
                            </th:block>
                            <details th:class="|aircraft-service-info grey-border|" th:object="${item.tripItem}">
                                <summary th:text="|Aircraft and Service Details|">Aircraft and Service Details</summary>
                                <div th:class="|aircraft-service-details|">
                                    <ul>
                                        <li th:text="|Baggage Claim:  *{baggageClaim?:'-'}|"></li>
                                        <li th:text="|Flight Entertainment:  *{entertainment?:'-'}|"></li>
                                        <li th:text="|Meal: *{meal?: '-'}|"></li>
                                        <li th:text="|On-time %: *{onTimePercentage?: '-'}|"></li>
                                        <li th:text="|Aircraft Type: *{aircraftType?: '-'}|"></li>
                                        <li th:text="|Fare Class: *{fareClass?: '-'}|"></li>
                                        <li th:text="|Stops: *{stops?: '-'}|"></li>
                                        <li th:text="|Distance: *{distance?: '-'}|"></li>
                                        <li th:text="|Segment Notes: *{segmentNotes?: '-'}|"></li>
                                    </ul>
                                </div>
                            </details>
                            <!-- Travel Agency, Supplier, Booking Details -->
                            <th:block
                                    th:replace="~{fragments/other-item-details::other-details(${item.travelAgency}, ${item.supplier}, ${item.bookingDetail}, ${item.notes})}">
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>
